*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Style pour la barre de navigation*/

a{
    text-decoration: none;
}

.Navigation{
    position: fixed;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.Navigation div{
    display: inline-block;
    position: relative;
    top: 10px;
    margin-right: 10px;
}

.Navigation div p{
    font-size: 0.7em;
    text-align: right;
    color: rgb(40, 196, 196);
    font-weight: 600;
}

.Navigation div a{
    color: rgb(40, 196, 196);
    font-weight: 600;
}

/*Style pour la section accueil*/

.Accueil{
    background-color: red;
    height: 500px;
    z-index: 1000;
}

.Accueil .flexaccueil{
    height: 600px;
    display: flex;
    align-items: center;
    margin-left: 15%;
    font-size: 1.75em;
}

.Accueil .langue{
    font-size: 0.75em;
}

.flexaccueil a{
    margin-top: 10px;
    margin-right: 10px;
}

/*Style pour la section Présentation de moi*/

.Présentation{
    background-color: blue;
    padding: 20px;
}

.Présentation > div{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
}

.Présentation div p, .Compétences div p{
    text-align: justify;
}

.texte p{
    margin: 20px 0px 20px 0px;
}

.texte{
    flex-basis: 60%;
}

img{
    flex-basis: 300px;
    height: 300px;
}

.lycée, .but{
    margin-left: 25px;
}

.fma{
    margin-right: 25px;
}

/*Style pour la section Compétences*/

.Compétences{
    background-color: yellow;
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.Compétences > div{
    flex-basis: 300px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    margin: 20px 30px 20px 30px;
    padding: 10px;
}

.Compétences h1{
    margin-bottom: 5px;
}

/*Style pour la partie Expèriences*/

.Expèrience{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.Expèrience .exp, .Expèrience .date{
    margin: 20px 35px 20px 35px;
    flex-basis: 40%;
    flex-grow: 1;
}

.Expèrience .exp{
    background-color: white;
    position: relative;
    padding:  10px 20px 20px 20px;
}

.Expèrience .date{
    position: relative;
    top: 28px;
    font-size: 1.3em;
}

#date2{
    text-align: right;
}

.point{
    z-index: 2;
    content: none;
    position: relative;
    top: 50px;
    width: 20px;
    height: 20px;
    background-color: rgb(23, 19, 212);
    border-radius: 50%;
    box-shadow: 0 0 0 5px white;
}

.barre{
    content: none;
    z-index: 1;
    position: absolute;
    left: 49.82%;
    width: 4px;
    height: 100%;
    background-color: #b8b8b8;
}

/*Le decor est la petite pointe qui dépasse des rectangles*/
.decor{
    content: none;
    flex-grow: 0;
    z-index: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    top: 30px;
}

#decor1, #decor3{
    right: -1.5%;
}

#decor2{
    left: -1.5%;
}

.Expèrience h1{
    line-height: 2em;
}

/*Style pour la setcion Contact / Liens externes*/

.Contact{
    background-color: darkgoldenrod;
    padding: 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact a{
    margin: 30px;
}

.Contact a img{
    width: 60px;
    height: 60px;
}

/*Style pour la section Copyright / Footer*/

footer{
    height: 70px;
    background-color: rgb(100, 50, 38);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 1.2em;
}